section.screen.press
  .screen__wrap
    .press__label
      | ПРЕССА О НАС
    .press__links
      .press__logo
        a(href="" target="_blank")
          img(src=require("_images/vedomosti.png") alt="")
      .press__logo
        a(href="" target="_blank")
          img(src=require("_images/vc.png") alt="")
      .press__logo
        a(href="" target="_blank")
          img(src=require("_images/secret.png") alt="")
      .press__logo
        a(href="" target="_blank")
          img(src=require("_images/business.png") alt="")
      .press__logo
        a(href="" target="_blank")
          img(src=require("_images/roem.png") alt="")