section.screen.press
  .screen__wrap
    .press__label
      | ПРЕССА О НАС
    .press__links
      .press__logo._vd
        a(href="http://www.vedomosti.ru/business/articles/2016/12/21/670548-onetwotrip-putevki-biznesa" target="_blank")
          img(src=require("_images/vedomosti.png") alt="")
      .press__logo._vc
        a(href="https://vc.ru/n/onetwo-b2b" target="_blank")
          img(src=require("_images/vc.png") alt="")
      .press__logo._sc
        a(href="http://secretmag.ru/news/2016/12/21/onetwotrip-zapustil-otdelnyj-servis-dlya-korporativnyh-klientov/" target="_blank")
          img(src=require("_images/secret.png") alt="")
      .press__logo._bs
        a(href="http://buyingbusinesstravel.com.ru/news/technology/5708-v-onetwotrip-razrabotali-universalnyy-onlayn-instrument-dlya-biznesa-/" target="_blank")
          img(src=require("_images/business.png") alt="")
      .press__logo._rm
        a(href="https://roem.ru/21-12-2016/238796/onetwotrip-business/" target="_blank")
          img(src=require("_images/roem.png") alt="")
